@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap');


body{
    background-image: url(images/img1.png);  
    background-repeat: no-repeat;
    background-color:#082338;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .active {
    background-color: #04AA6D;
    float: left;
  }
  #tuv{
position: absolute;
width: 50%;
height: 157px;
left: 11%;
top: 20%;
display: flex;
flex-wrap: wrap;


font-family:"Saira SemiCondensed";
width:50%;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 111px;
text-shadow: 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808;
  }
#tic{
    position:absolute;
    height: 65%;
    width:50%;
    left: 52%;
    top: 40%;
    border-radius: 0px;
    
}
#tyu{
    position: absolute;
width: 35%;
height: 60%;
left: 60%;
top: 40%;
z-index: -1;
}
#wer{
    position: absolute;
width: 30%;
height: 69px;
left: 152px;
top: 49%;

font-family: 'Saira SemiCondensed';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 69px;

color: #FFF3F3;
}
#poi{
position: absolute;
width: 35%;
height: 50px;
left: 152px;
top: 67%;

font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 164% */


color: #FFFFFF;

}

#bt{

  box-sizing: border-box;

  position: absolute;
  width: 12%;
  height: 54px;
  left: 152px;
  top: 87%;
  text-align: center;
  padding-top: 12px;
  background: #1EB808;
  border-radius: 5px;
  color: #FFFFFF;}

#mt{
box-sizing: border-box;

position: absolute;
width: 13%;
height: 54px;
left: 368px;
top: 87%;
text-align: center;
padding-top:12px;
border: 1px solid #B2F3B0;
box-shadow: 0px 0px 5px 1px #1EB808;
border-radius: 5px;
color: white;
font-family: 'Saira SemiCondensed';
}

.bn{
  width: 30%;
}
#pol{
  right:10%;
  margin-top: 90%;
  display:flex;
  flex-wrap: wrap;

}
#rty{
  position: absolute;
width: 16%;
height: 48%;
left: 11%;
top: 133%;

background: #2F2F2F;
border-radius: 20px 20px 0px 0px;
}
#rtz{
position: absolute;
width: 14%;
height: 35%;
left: 12%;
top: 135%;
border-radius: 20px;
}
#rta{
  position: absolute;
width: 16%;
height: 48%;
left: 29%;
top: 133%;

background: #2F2F2F;
border-radius: 20px 20px 0px 0px;
}
#rtq{
  position: absolute;
width: 14%;
height: 35%;
left: 30%;
top: 135%;
border-radius: 20px;

}
#rtb{
  position: absolute;
width: 16%;
height: 48%;
left: 47%;
top: 133%;

background: #2F2F2F;
border-radius: 20px 20px 0px 0px;
}
#rtp{

position: absolute;
width: 14%;
height: 35%;
left: 48%;
top: 135%;
border-radius: 20px;
}
#rtc{position: absolute;
  width: 16%;
  height: 48%;
  left: 65%;
  top: 133%;
  
  background: #2F2F2F;
  border-radius: 20px 20px 0px 0px;}
#rtk{position: absolute;
  width: 14%;
  height: 35%;
  left: 66%;
  top: 135%;
  border-radius: 20px;}
#rtd{position: absolute;
  width: 16%;
  height: 48%;
  left: 83%;
  top: 133%;
  right: 10%;
 
  
  
  background: #2F2F2F;
  border-radius: 20px 20px 0px 0px;}
#rtf
{position: absolute;
  width: 14%;
  height: 35%;
  left: 84%;
  top: 135%;
  right: 11%;
  

  border-radius: 20px;}
  #sec{
    position: absolute;
width: 80%;
height: 70%;
left: 151px;
top: 250%;

  }