*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html,body{
  width: 100vw;
  overflow-x:hidden; 
}


.bnm{width: 156px;
  height: 40px;
  left: 1377px;
  top: 1%;
  color: white;
  
  background: #1EB808;
  border-radius: 5px;
  margin-top: 0px;
}

#banner{
  display: flex;
  margin-top: 12%;
}



.banner-content{
  width: 40%;
  position: absolute;
}
.right-content{
  height: 300px;
  margin-top: 30%;
  display: flex;
  flex-wrap: wrap;

  width: 60%;
}
#home{
  background-image: url(./images/img1.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

}
.nav-item{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}
.wer{
  
position: absolute;
width: 596px;
height: 157px;
left: -3px;
top: -90px;

font-family: 'Saira SemiCondensed';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 157px;


text-shadow: 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808;
}
.tyu{
  position: absolute;
  left: 50.24%;
  right: 0.65%;
  top: 18%;
  bottom: 90.74%;
  z-index: +1;
  display: flex;
  flex-wrap: wrap;

     
}
.iop{
  position:absolute;
  height: 455px;
  left: 59.24%;
  top: 22%;
  right:0.65%; 
}
.res{

font-family: 'Saira SemiCondensed';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 69px;
color: white;
margin-top: 10%;
}
.jkl{

font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: white;

}
.bt{
  background: #1EB808;
  border-radius: 5px;
  width: 196px;
  height: 54px;
  left: 152px;
  top: 558px;

}
.mt{
  box-sizing: border-box;
  border: 1px solid #B2F3B0;
box-shadow: 0px 0px 5px 1px #1EB808;
border-radius: 5px;
width: 196px;
height: 54px;
left: 368px;
top: 558px;
background-color: black;
color: white;
}
#card{
  
  height: 1300px;
  background-color: rgb(10, 18, 49);
  position: relative;
  /* display:flex; */
  /* flex-wrap: wrap; */
  /* margin-left: 5%; */
  
}
.card-content{
  /* margin-top: -440px; */
  position: absolute;
  top: -100px;
  background-color: transparent !important;
  margin-left: 5%;
  

}
.card-body{
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  height: 270px;
  width:230px;

}
.po{
  width:170px;
  height: 190px;
  padding-left: 10px;
  
}
.fg{
  color: white;
}

.imgcont{
  background-image: url(./images/image\ 30.svg);
    width: 67vw;
    height: 30vw;
    position: absolute;
    top: 18vw;
    left: 13vw;
    border: 2px solid #B2F3B0;
    box-shadow: 0px 0px 10px 5px #1eb808;
}

.imgcont .vector{
  position: absolute;
    top: 13vw;
    left: 30vw;
}

.imgcont .vector3{
  position: absolute;
  top: 13.4vw;
  left: 31.4vw;
  width: 29.5vw;
  width: 1.6vw

;
  height: 2.8vw;
}
.section2{
  
  height: 100vh;
  position: relative;
  background-image: url(images/image\ 31.png);
}

.tricard{
  position: absolute;
  top: -42vw;
  left: 20vw;
  
  color: white;
}
.subcaed{

  margin-top: -30vh;
  
  
  

}
.haem{
  text-align: center;
  margin-top:30%;
}
.banner-cont{
  margin-top: 8%;
}
.ler{
margin-left: 5%;
font-family: 'Saira SemiCondensed';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 157px;


text-shadow: 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808;
}
.jsv{
  font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: rgb(0, 0, 0);
margin-left: 5%;
}
.log{
  margin-left: 5%;
  margin-top: -10px;
}